#players_list {
    overflow-y:auto;
    max-height: 300px;
    border-bottom: 1px solid darkgray;
    margin-top: 50px;
}

.player_select:hover{
    background-color: rgb(0, 136, 204);
    background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 119, 179));
    color:#EBF3EC;
}

.player_select {
    padding: 5px;
}