#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
#sortable1 li, #sortable2 li { margin-bottom: 25px; padding: 5px; font-size: 1.2em; width: 250px; text-align: center; }