#vk_login_button{
    background-color: rgb(109, 143, 179);
    border-bottom-color: rgb(92, 130, 171);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(92, 130, 171);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(92, 130, 171);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(126, 156, 188);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
    font-size: 11px;
    height: 12px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    text-align: center;
    text-shadow: rgb(69, 104, 142) 0px 1px;
    width: 80px;
}